.button {
    padding: 8px 24px;
    border-radius: 8px;
    width: 100%;

    background: $color-brand-primary;
    text-align: center;

    color: $color-text-inverted;
    font-size: 12px;

    transition: 0.5s all;
    &:hover {
        background: $color-brand-fourth;
        transform: translateY(-3px);
        box-shadow: 0 3px 0px 0 black;
    }
    &:active {
        background: $color-brand-fourth;
        transform: translateY(0px);
        box-shadow: 0 0px 0px 0 black;
    }
}
@media only screen and (min-width: 1200px) {
    .button {
        font-size: 16px;
    }
}