$color-canvas-primary: #F6F6F6;
$color-canvas-inverted: #38414A;
$color-canvas-secondary: #D9D9D9;
// $color-canvas-tertiary: #4A4D52;

$color-brand-primary: #FF9843;
$color-brand-secondary: #60AFFF;
$color-brand-tertiary: #928F8F;

$color-text-primary: #38414A;
$color-text-inverted: #F6F6F6;
// $color-text-tertiary: #EB5E28;


// $color-border-primary: #aaaaaa;
// $color-border-secondary: #ebd9fc;
// $color-border-tertiary: #EB5E28;

$color-button-primary: #FF9843;
$color-button-secondary: #60AFFF;

$color-ui-ok: green;
$color-ui-warn: orange;
$color-ui-danger: red;