$color-canvas-primary: #1C1F24;
$color-canvas-inverted: #F2F2F2;
$color-canvas-secondary: #272A2F;
$color-canvas-tertiary: #4A4D52;

$color-brand-primary: #FBB923;
$color-brand-secondary: #F6DC61;
$color-brand-tertiary: #FF9843;

$color-text-primary: #F2F2F2;
$color-text-inverted: #272A2F;
// $color-text-tertiary: #EB5E28;


// $color-border-primary: #aaaaaa;
// $color-border-secondary: #ebd9fc;
// $color-border-tertiary: #EB5E28;

$color-button-primary: #FBB923;
$color-button-secondary: #FF9843;
$color-button-green: #8CF575;

$color-ui-ok: green;
$color-ui-warn: orange;
$color-ui-danger: red;