@import 'libs/bootstrap-reboot.min.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

// base files
@import 'base/variables.scss';
@import 'base/mixins.scss';
@import 'base/general.scss';
//

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: $color-canvas-secondary;
}
.container {
    max-width:  1200px;
    margin: 0 auto;
    padding: 0 8px;
}
// blocks
@import 'blocks/header.scss';
@import 'blocks/logo.scss';
@import 'blocks/search.scss';
@import 'blocks/tags.scss';
@import 'blocks/feed.scss';

//

// media files

//
