.feed {
padding: 16px;
display: flex;
gap: 16px;
flex-wrap: wrap;
justify-content: space-around;
}

.card {
    display: block;

    border-radius: 8px;
    box-shadow: 0 0 3px 0 black;
    background: $color-canvas-primary;

    // padding: 8px;

    max-width: fit-content;
    position: relative;

    color: $color-text-primary;
    text-decoration: none;
    transition: 0.5s all;

    &:hover {
        text-decoration: none;
        color: $color-text-primary;
        scale: 1.01;
        }
        
        &__img {
            height: 250px;
            border-radius: 8px;
            img {
                width: 100%;
                height: 100%;
                object-fit:contain;
                border-radius: 8px 8px 0px 0px;
            }
        }
    &__content {
        padding: 16px;
        &__wrapperbot {
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
            justify-content: space-between;
            // margin-top: 16px;
        }
        &__title {
            width: fit-content;
            max-width: 250px;
            font-weight: 800px;
            font-size: 20px;
            }
        &__descr {
            font-size: 12px;
            font-weight: 400px;
            margin-top: 8px;
            max-width: 300px;
        }
        &__percent {
            display: flex;
            padding: 8px;
            gap: 4px;
            background: $color-canvas-secondary;
            border-radius: 8px;
            width: fit-content;
            
            position: absolute;
            top: 8px;
            right: 8px;
        }
        &__date {
            margin-top: 16px;
            font-size: 12px;
        }
        &__price {
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
            align-items:flex-end;

            &__new {
                display: flex;
                gap: 4px;

                color: $color-brand-primary;
                font-weight: 800;
                font-size: 20px;
            }
            &__old {
                display: flex;
                gap: 4px;

                font-size: 12px;
                text-decoration: line-through;
            }
        }

    }
}
.button {
    padding: 8px 24px;
    border-radius: 8px;
    width: fit-content;
    background: $color-brand-primary;

    color: $color-text-inverted;
    font-size: 12px;

    transition: 0.5s all;
    &:hover {
        background: $color-brand-secondary;
        transform: translateY(-5px);
        box-shadow: 0 5px 0px 0 black;

    }
    &:active {
        background: $color-brand-secondary;
        transform: translateY(0px);
        box-shadow: 0 0px 0px 0 black;

    }
}