.feed {
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 8px;
}

.card {
    display: block;

    border-radius: 8px;
    // box-shadow: 0 0 4px 0 $color-canvas-inverted;
    background: $color-canvas-primary;

    // padding: 8px;

    // max-width: 194px;
    // height: fit-content;
    position: relative;

    color: $color-text-primary;
    text-decoration: none;
    transition: 0.5s all;

    &:hover {
        text-decoration: none;
        color: $color-text-primary;
    }
    &__content {
        padding: 8px;

        &__img {
            height: 160px;
            border-radius: 8px;
            // padding: 8px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 8px;
                mix-blend-mode: multiply;
            }
        }
        &__title {
            max-width: 250px;
            height: 48px;
            font-weight: 700px;
            font-size: 12px;
            margin-top: 8px;
            line-height: 16px;
            }
        &__percent {
            display: flex;
            padding: 4px;
            gap: 4px;

            background: $color-brand-fourth;
            color: $color-text-inverted;

            line-height: 16px;
            font-size: 12px;
            
            border-radius: 0 8px 0 8px;
            width: fit-content;
            
            position: absolute;
            top: 0;
            right: 0;
        }
        &__date {
            margin-top: 8px;
            font-size: 10px;
            text-align: center;
            font-weight: 700px;
        }
        &__price {
            // display: flex;
            // gap: 8px;
            flex-wrap: wrap;
            align-items:flex-end;
            margin-top: 8px;
            margin-bottom: 8px;
            position: relative;
            &__new {
                display: flex;
                gap: 4px;

                color: $color-brand-fourth;
                font-weight: 800;
                font-size: 16px;
            }
            &__old {
                display: flex;
                gap: 4px;
                
                font-weight: 800;
                font-size: 10px;
                text-decoration: line-through;
                color: $color-brand-tertiary;
            }
        }
    }
}
.button {
    padding: 8px 24px;
    border-radius: 8px;
    width: 100%;

    background: $color-brand-fourth;
    text-align: center;

    color: $color-text-inverted;
    font-size: 12px;

    transition: 0.5s all;
    &:hover {
        background: $color-brand-secondary;
        transform: translateY(-3px);
        box-shadow: 0 3px 0px 0 black;
    }
    &:active {
        background: $color-brand-fourth;
        transform: translateY(0px);
        box-shadow: 0 0px 0px 0 black;
    }
}

// @media only screen and (min-width: 1200px) {
//     .feed {
//         padding: 8px;
//         display: grid;
//         grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
//         grid-gap: 8px;
//     }
// }