.feed {
    margin-top: 16px;
    padding: 0 8px 0 8px;
    
    &__item {
        display: flex;
        background: $color-canvas-tertiary;
        max-width: 550px;
        min-height: 220px;
        // gap: 16px;
        // justify-content: space-between;

        border-radius: 25px;

        &__l {
            position: relative;
            max-width: 220px;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 25px 0 0 25px;
            }
            &__tag {
                position: absolute;
                bottom: 0;
                left: 0;

                color: $color-text-inverted;
                background: $color-canvas-inverted;
        
                width: fit-content;
                max-width: 200px;
                padding: 8px 24px;
                border-radius: 0 25px 0 25px;
            }
            &__discount {
                position: absolute;
                top: 0;
                left: 0;

                color: $color-text-inverted;
                background: $color-canvas-inverted;
        
                width: fit-content;
                padding: 8px;
                border-radius: 25px 0 25px 0;
            }
        }
        &__r {
            color: $color-text-primary;
            padding: 16px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &__bot {
                display: flex;
                gap: 8px;

                .price__before {
                    color: $color-text-inverted;
                    background: $color-canvas-inverted;
            
                    width: fit-content;
                    padding: 8px;
                    border-radius: 25px;

                    text-decoration: line-through;
                }
                .price__after {
                    color: $color-text-inverted;
                    background: $color-button-green;
                    
                    display: flex;
                    gap: 8px;

                    width: fit-content;
                    padding: 8px;
                    border-radius: 25px;
                }
                .loot__button {
                    color: $color-text-inverted;
                    background: $color-button-primary;
                    border-radius: 25px;
                    width: 100%;
                    padding: 8px;
                    
                    text-align: center;
                    text-decoration: none;
                }
            }
        }

    }
}