.search {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 8px 0 8px;
    &__bar {
        padding: 8px;
        border-radius: 8px;
        border: 0;
        width: 100%;
        background: $color-canvas-primary;
    }
    &__reload {
        padding: 0 8px;
        border-radius: 8px;

        background: $color-brand-primary;
        color: $color-canvas-primary;
        text-wrap: nowrap;

        height: 40px;
        width: 48px;
        transition: 0.5s all;
        
        &:hover {
            cursor: pointer;

            background: $color-text-primary;
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }
    &__button {        
        padding: 8px 24px;
        border-radius: 8px;

        background: $color-brand-primary;
        color: $color-canvas-primary;
        text-wrap: nowrap;

        
        width: fit-content;
        transition: 0.5s all;
        
        &:hover {
            cursor: pointer;

            background: $color-text-primary;
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
    
        }
    }
}