.tags {
    margin-top: 8px;
    padding: 8px;
    
    display: flex;
    gap: 8px;
    overflow-x: scroll;
    overflow-y: hidden;

    &__item {
        color: $color-text-primary;
        background: $color-canvas-primary;

        width: fit-content;
        height: fit-content;
        padding: 8px 16px;
        border-radius: 8px;
    }
}
::-webkit-scrollbar {
    display: none;
}
.active {
    color: $color-text-inverted;
    background: $color-canvas-inverted;
}
.clear__filters {
    font-weight: 800;
    text-align: center;
    line-height: 40px;
    min-width: 93px;
    p {
        margin: 0;
    }
}